---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14UBC9DFkVP2Pa3fJa81ouo1&description=Sign%20up%20charge%20for%20join%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4aOgtKjraB5BQVAHb1Ied5Kd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14UBCBDFkVP2Pa3ffdNybmB6",
          "object": "charge",
          "created": 1408687603,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14UBC9DFkVP2Pa3f97DCmSjI",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "aKWDokh2p79RC0Pa",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14UBCBDFkVP2Pa3ffdNybmB6/refunds",
            "data": []
          },
          "balance_transaction": "txn_14UBCBDFkVP2Pa3fIl1iANEW",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for join@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Fri, 22 Aug 2014 06:06:43 GMT
recorded_with: VCR 2.9.2
