---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242420000&card[exp_month]=3&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4aOgtKjraB5BQVAHb1Ied5Kd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Tu4dDFkVP2Pa3fHE62Pyky",
          "livemode": false,
          "created": 1408621787,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Tu4cDFkVP2Pa3fuCFUjJsx",
            "object": "card",
            "last4": "0000",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2018,
            "fingerprint": "BadOzmYuaSvVBl56",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 21 Aug 2014 11:49:48 GMT
recorded_with: VCR 2.9.2
