---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4aOgtKjraB5BQVAHb1Ied5Kd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14TqdLDFkVP2Pa3fxEVKrpe2",
          "livemode": false,
          "created": 1408608563,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14TqdLDFkVP2Pa3fjvgtk03a",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2019,
            "fingerprint": "aKWDokh2p79RC0Pa",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 21 Aug 2014 08:09:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14TqdLDFkVP2Pa3fxEVKrpe2&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4aOgtKjraB5BQVAHb1Ied5Kd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14TqdNDFkVP2Pa3fLfYTDAg6",
          "object": "charge",
          "created": 1408608565,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14TqdLDFkVP2Pa3fjvgtk03a",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2019,
            "fingerprint": "aKWDokh2p79RC0Pa",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14TqdNDFkVP2Pa3fLfYTDAg6/refunds",
            "data": []
          },
          "balance_transaction": "txn_14TqdNDFkVP2Pa3fYTSUPyox",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Thu, 21 Aug 2014 08:09:23 GMT
recorded_with: VCR 2.9.2
