---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4aOgtKjraB5BQVAHb1Ied5Kd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14UCujDFkVP2Pa3fabLZaLAD",
          "livemode": false,
          "created": 1408694209,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14UCujDFkVP2Pa3fZtN08HJq",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2019,
            "fingerprint": "1aRK5OvxZmA4x8hV",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Fri, 22 Aug 2014 07:56:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14UCujDFkVP2Pa3fabLZaLAD&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4aOgtKjraB5BQVAHb1Ied5Kd
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14UCukDFkVP2Pa3f92Am6dDJ"
          }
        }
  recorded_at: Fri, 22 Aug 2014 07:56:50 GMT
recorded_with: VCR 2.9.2
